[Unit]
Description=Python Telegram Userbot
After=network.target

[Service]
Type=simple
# The User variable will be replaced by the install script
User=USER_PLACEHOLDER
# The WorkingDirectory variable will be replaced by the install script
WorkingDirectory=BOT_DIR_PLACEHOLDER
# The ExecStart variable will be replaced by the install script
ExecStart=VENV_DIR_PLACEHOLDER/bin/python BOT_DIR_PLACEHOLDER/main.py
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
